body {
  margin: auto;
  padding: 0;
  background-color: #c77755;
  width: 90%;
}

h4 > span {
  font-weight: bolder;
  color: rgb(192, 8, 8);
  font-size: larger;
}

h1, h3, h4 {
  text-align: center;
}

h1 {
  color: aqua;
  text-decoration: underline dashed #695555;
  font-size: xx-large;
}

span {
  color: #20e6e6;
  font-weight: 900;
  font-size: larger;
  margin-right: 5px;
}

.questions {
  background-color: #695555;
  margin: auto;
  width: 75%;
  padding: 20px;
  border: 1px solid #06acac;
  border-radius: 20px;
}

#submit {
margin: 10px 45%;
padding: 5px 10px;
border-radius: 10px;
border: 2px solid #695555;
color: #290b0b;
font-weight: bolder;
}

.Q1, .Q2, .Q3, .Q4, .Q5 {
  margin-bottom: 15px;
}

.one, .two, .three, .four, .five {
  margin-top: 5px;
  margin-left: 25px;
}

#Q {
  font-size: 18px;
  font-weight: bold;
}
#test_result {
  display: ;
  height: 20%;
  background-color: #695555;
  width: 25%;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid #06acac;
  border-radius: 20px;
  margin-top: 10px;
}
#retry {
  text-align: center;
  margin: 15px 0 10px 35%;
  color: rgb(252, 250, 250);
  background-color: #290b0b;
  border-radius: 5px;
  padding: 10px;
  border-radius: 10px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#results {
  text-align: center;
  color: #b65a33;
  font-weight: 800;
}