body {
  margin: auto;
  padding: 0;
  background-color: #c77755;
  width: 90%;
}

h4 > span {
  font-weight: bolder;
  color: rgb(192, 8, 8);
  font-size: larger;
}

h1, h3, h4 {
  text-align: center;
}

span {
  color: rgb(32, 230, 230);
  font-weight: 900;
  font-size: larger;
  margin-right: 10px;
}

.questions {
  background-color: #695555;
  margin: auto;
  width: 70%;
  padding: 20px;
}

#submit {
margin: 10px 45%;
padding: 5px 10px;
border-radius: 10px;
border: 2px solid #695555;
color: #290b0b;
font-weight: bolder;
}

.Q1, .Q2, .Q3, .Q4, .Q5 {
  margin-bottom: 15px;
}

#one, #two, #three, #four, #five {
  margin-top: 5px;
  margin-left: 25px;
}