section {
  background-color: #c77755;
  width: 90%;
  height: 97vh;
  margin: auto;
  border: 2px solid #38180a;
}
.header {
  text-align: center;
  padding: 10px;
  color: aqua;
  font-weight: 800;
  font-size: 40px;
  text-decoration: underline dashed 4px rgb(178, 129, 224);
}
h3 {
  color:beige;
  margin-top: 10%;
  text-align: center;
}
form {
  background-color: rgb(105, 85, 85);
  padding: 15px;
  margin:  auto;
  text-align: center;
  border-radius: 20px;
  width: 50%;
}
#name, #school, #email {
  padding: 10px;
  width: 40%;
  margin: 7px;
  border-radius: 10px;
  border: none;
  background-color: beige;
}
#submit {
  background-color: rgb(178, 129, 224);
  border: none;
  padding: 7px 20px;
  border-radius: 10px;
  margin-top: 10px;
}